/*
class-red{
  background: #000;
  background-color: #248f24;
  color: #cc0000;
}

 */

.green { background-color: #248f24 !important;}
.blue { background-color: #23f5dc !important;}
.red { background-color: #cc0000 !important;}
