<p>Erstelle Schichtarten.</p>
<!--<div *ngIf="shiftTypes!==undefined">-->
<!--    <div *ngFor="let elem of shiftTypes">-->
<!--        <span class="inline-block flex-row"><h3> {{elem.name}}</h3>-->
<!--        <button mat-icon-button color="primary" (click)="editShiftType(elem)"><mat-icon color="primary">edit</mat-icon></button>-->
<!--            <button mat-icon-button color="primary" (click)="deleteShiftType(elem)"><mat-icon color="primary">delete</mat-icon></button>-->
<!--            </span>-->
<!--    </div>-->
<!--</div>-->
<form>
    <mat-form-field appearance="fill">
        <mat-error >Der Name muss mindestens 3 Zeichen lang sein</mat-error>
        <mat-label>Schichttypname</mat-label>
        <input matInput [(ngModel)]="model.name" [formControl]="fcname">
        <div *ngIf="fcname.errors?.['minLength']">Der Name muss mindestens 3 Zeichen lang sein.</div>
    </mat-form-field>
    <button [disabled]="!fcname.valid" mat-icon-button color="primary" (click)="sendShiftType()"><mat-icon>send</mat-icon></button>
</form>
