<div *ngIf="($usersLoading |async)===false">
<p>Folgende NutzerInnen sind registriert:</p>
<table mat-table frontendLbNxMatTableResponsiveDirective [dataSource]="(users$ | async)!" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order
          The actual rendered columns are set as a property on the row definition" -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element">
            {{(users$ | async)!.indexOf(element)+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
            <frontend-lb-nx-user-badge [user]="element"></frontend-lb-nx-user-badge>
             </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="telefonnr">
        <th mat-header-cell *matHeaderCellDef> Telefonnr. </th>
        <td mat-cell *matCellDef="let element"> {{element.telephone}} </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef> Voller Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname+" "+element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="punkte">
        <th mat-header-cell *matHeaderCellDef> Punkte </th>
        <td mat-cell *matCellDef="let element"> {{element.xPScore}}</td>
    </ng-container>

    <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}}</td>
    </ng-container>

    <ng-container matColumnDef="approved">
        <th mat-header-cell *matHeaderCellDef> Bestätigt? </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.isApproved">Bestätigt</div>
            <div class="flex flex-row items-center">
                 <span *ngIf="!element.isApproved">Unbestätigt
                <button mat-icon-button color="primary" (click)="approveUser(element)" ><mat-icon>add</mat-icon></button>
            </span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Rolle </th>
        <td mat-cell *matCellDef="let element">
            <div class="flex items-center">
                <span>{{genHighestRole(UserFunctions.getRole(element))!}}</span>
                <button matTooltip="Rolle von {{element.username}} ändern." mat-icon-button color="primary" (click)="openDialog(genHighestRole(UserFunctions.getRole(element))!, element)" ><mat-icon>edit</mat-icon></button>

            </div>
        </td>

    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Löschen </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="deleteUser(element)" ><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{gray: row.position === 1}"></tr>
</table>
</div>

<app-loading-overlay *ngIf="($usersLoading |async)"></app-loading-overlay>

