<div class="w-full h-full">
    <div class="text-center">
        <p>Punkte verdienst du, indem du Schichten übernimmst </p>
        <p>oder Zusatztätigkeiten vollbringst.</p>
        <br>
    </div>
    <br>
    <div class="flex flex-row justify-between">
        <div>
            <p>Deine Punkte: {{($userObs | async)?.xPScore}}</p>
        </div>

        <div class="flex-col">
            <frontend-lb-nx-achievements-overview></frontend-lb-nx-achievements-overview>
        </div>
        <p>Nächste Errungenschaften:</p>
    </div>
    <br>
    <div class="text-center">
        <p>Du hast bis jetzt {{shifts_num}} Schichten übernommen.</p>
        <p>Herzlichen Dank für dein Engagement und deine Zeit.</p>
    </div>
    <frontend-lb-nx-snack-use-overview></frontend-lb-nx-snack-use-overview>
    <frontend-lb-nx-done-ex-overview></frontend-lb-nx-done-ex-overview>
</div>
