@use 'sass:color';
@import '/src/app/core/styles/lobebar-theme.scss';
@import "@angular/material/theming";
$dark-foreground-palette: map-get($lobebar-theme, background);
$lighnedup: color.adjust(mat-color($dark-foreground-palette, background), $lightness: 20%);
$lighnedupMore: color.adjust($lighnedup, $lightness: 5%);

@media (max-width: 768px) {


  .mdc-button__label{
    font-size: 100%;
  }
  .mat-mdc-paginator{


    .mat-mdc-paginator-range-actions{
      display: flex;
      flex-wrap: wrap;
    }
    .mat-mdc-paginator-range-label{
      text-align: center;
      width: 100%;
    }
  }



  .mat-mdc-table[frontendLbNxMatTableResponsiveDirective] {


    .mdc-data-table__row:last-child .mdc-data-table__cell{
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: rgba(255, 255, 255, 0.12);
    }
    #elementNameContainer{
      width: 100%;
    }
    .mat-mdc-header-row {
      display: flex;
      flex-wrap: wrap;
      height: auto;
      position: sticky;
      top: 0;
      z-index: 2;

      th.mat-mdc-header-cell {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 1rem 0.5rem;
        justify-content: space-around;

        & > .mat-mdc-sort-header-container {
          padding-left: 15px; // padding is used to center the header table cells, due to the width of the sort icon
        }

        &:not([mat-mdc-sort-header]),
        &.mat-mdc-sort-header-disabled,
        &.mat-mdc-column-actions {
          display: none;
        }
      }
    }


    .mat-mdc-row {
      height: auto;

      td.mat-mdc-cell:not(.mat-mdc-column-actions) {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 0.5rem;
        text-align: right;
        word-break: break-word;

        & > * {
          grid-column: 2;
        }

        &:before {
          content: attr(data-column-name);
          text-align: left;
        }
      }

      td.mat-mdc-column-actions {
        display: flex;
        justify-content: center;
        padding: 0 0.5rem;

        & > button {
          margin: 0.5rem 0;
        }
      }

      &:last-of-type td:last-of-type {
        border-bottom: 5px solid $lighnedupMore;
        margin-bottom: 10px;
      }

      &:not(:last-of-type) td:last-of-type {
        border-bottom: 3px solid $lighnedup;
      }
    }
  }


  .mat-mdc-card,
  .mat-mdc-expansion-panel {
    .mat-mdc-table[frontendLbNxMatTableResponsiveDirective] {
      border: 3px solid $lighnedup;
    }
  }
}
