
<div *ngIf="!(store.vm$ | async)?.isLoading" class="w-full flex justify-around flex-col">

    <div class="flex justify-center">
        <div class=" content-center">
            <h1 class="text-center text-6xl mb-6">{{(store.vm$ | async)?.event?.name}} <button mat-icon-button (click)="updateName()"><mat-icon>edit</mat-icon></button></h1>
            <h2 class="text-center text-3xl text-orange-500 font-extrabold">
                {{(store.vm$ | async)?.event?.start | date: 'dd. MMMM yyyy \'um\' HH:mm':'de-DE'}}
            </h2>
            <h4 class="text-center text-xl text-orange-300 font-bold">
                bis {{(store.vm$ | async)?.event?.end | date: 'dd. MMMM yyyy \'um\' HH:mm':'de-DE'}} <button mat-icon-button (click)="updateEndTime()"><mat-icon>edit</mat-icon></button>
            </h4>
        </div>
    </div>

    <frontend-lb-nx-countdown [targetDate]="(store.vm$ | async)?.event?.start!"></frontend-lb-nx-countdown>

    <div class="flex justify-around flex-col mt-8 text-center">
        Es fehlen noch insgesammt <span [class.text-red-500]="missbiggerZero$ | async" [class.text-green-500]="(missbiggerZero$ | async) === false">{{store.selectMissingPersons$ | async}}</span> Personen für diese Veranstaltung.
    </div>

    <div class="flex justify-around flex-col mt-8">
        <div class="flex justify-center">
            <button mat-flat-button color="primary" (click)="store.toggleShowAddShift()">Schicht hinzufügen
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <frontend-lb-nx-event-overview [showEditDelete]="true" (deleteShiftEvent)="store.deleteShift($event)" [startDate]="(store.vm$ | async)?.event?.start!"
                                       [showAddShift]="of((store.vm$ | async)?.showAddShift ?? false)"
                                       [showName]="false" [shifts]="shifts$" [orgEvent]="of((store.vm$ | async)!.event!)"
                                       (addShiftEvent)="store.addShift($event)"
                                       [shiftTypes]="store.$shiftTypes"
        ></frontend-lb-nx-event-overview>
    </div>


</div>
<app-loading-overlay [externInput]="true" [pulsing]="false" *ngIf="(store.vm$ | async)?.isLoading" @inOutAnimation>
    <frontend-lb-nx-fancy-circle-loader></frontend-lb-nx-fancy-circle-loader>
</app-loading-overlay>
