<mat-tab-group>
    <mat-tab label="Bevorstehende Veranstaltungen">
        <br>
        <div class="flex justify-center">
            <button routerLink="/event_add" mat-icon-button color="primary"><mat-icon>add</mat-icon></button>
        </div>
        <br>
        <div *ngIf="orgEvents!==undefined">
            <div *ngFor="let elem of orgEvents">
                <frontend-lb-nx-event-overview [shifts]="of(elem.shifts??[])" [orgEvent]="of(elem)" ></frontend-lb-nx-event-overview>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Deine kommenden Schichten">
        <br>
        <div *ngIf="ownShifts!==undefined" class="flex justify-center">
            <h2 *ngIf="ownShifts!.length<0">Keine Schichten vorhanden!</h2>
            <div *ngIf="ownShifts!.length>0">
            <frontend-lb-nx-shift-table [shifts]="ownShifts!"></frontend-lb-nx-shift-table>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vergangene Schichten"></mat-tab>
</mat-tab-group>
