<mat-tab-group>
    <mat-tab label="Bevorstehende Veranstaltungen">
        <br>
        <div class="flex justify-center">
            <button routerLink="/event_add" mat-icon-button color="primary"><mat-icon>add</mat-icon></button>
        </div>
        <br>
            <div *ngFor="let elem of ($orgEventsObs | async)">
                <frontend-lb-nx-event-overview [shifts]="of(elem.shifts??[])" [orgEvent]="of(elem)" ></frontend-lb-nx-event-overview>
                <mat-divider></mat-divider>
            </div>
    </mat-tab>
    <mat-tab label="Deine kommenden Schichten">
        <br>
        <div class="flex justify-center">
            <h2 *ngIf="($ownShiftsObs | async)!.length<0">Keine Schichten vorhanden!</h2>
            <div *ngIf="($ownShiftsObs | async)!.length>0">
            <frontend-lb-nx-shift-table [shifts]="($ownShiftsObs | async)!"></frontend-lb-nx-shift-table>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vergangene Schichten"></mat-tab>
</mat-tab-group>
