/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-notched-outline__notch
{
  border-right: none;
}
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mat-dialog-flexed{
  display: flex;
  justify-content: center !important;
  align-items: center;
  height: 100%;
}
