/* You can add global styles to this file, and also import other style files */
@tailwind base;
h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}

@tailwind components;
@tailwind utilities;
@import "src/app/core/styles/table_responsive_styles";

.mdc-notched-outline__notch
{
  border-right: none;
}
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-datetimepicker-content{
  color: darkorange;
}

.mat-dialog-flexed{
  display: flex;
  justify-content: center !important;
  align-items: center;
  height: 100%;
}
.fade-in-out{
  animation: fadeInOut 1s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/**
  fixes expansion panel animation issues
 */
mat-expansion-panel {
  mat-expansion-panel-header {
    height: 40px; // height may be different for you
  }
  .mat-expansion-panel-content {
    height: 0;
  }
  &.mat-expanded {
    mat-expansion-panel-header {
      height: 64px; // height may be different for you
    }
    .mat-expansion-panel-content {
      height: auto;
    }
  }
}






