<!--<div class="p-4">-->
<!--    <p>Namen ändern</p>-->
<!--    <form>-->
<!--        <div class="flex justify-around {{isShiftType ? 'h-32' : 'h-48'}}   {{isShiftType ? 'min-h-[100px]' : 'min-h-[250px]'}} {{isShiftType ? 'max-h-[250px]' : 'max-h-[350px]'}} flex-col">-->
<!--            <mat-form-field appearance="outline" [class.mb-10]="!fcname.valid">-->
<!--                <mat-label>Name</mat-label>-->
<!--                <input matInput [(ngModel)]="model.name" [formControl]="fcname">-->
<!--                <mat-error>Der Name muss mindestens 3 Zeichen lang sein</mat-error>-->
<!--                &lt;!&ndash;            <div *ngIf="fcname.errors?.['minLength']">Der Name muss mindestens 3 Zeichen lang sein.</div>&ndash;&gt;-->
<!--            </mat-form-field>-->
<!--        </div>-->
<!--        <div class="w-full flex justify-center">-->
<!--            <button [disabled]="!fcname.valid" mat-flat-button color="primary"-->
<!--                    (click)="sendShiftType()">-->
<!--                Hinzufügen-->
<!--                <mat-icon>send</mat-icon>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<h1 mat-dialog-title>Namen ändern</h1>
<div mat-dialog-content>
    <p>Ändere den namen in dem Feld</p>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" [formControl]="fcname" (keydown.enter)="onSubmit()">
        <mat-error *ngIf="!fcname.valid">Der Name muss mindestens 3 Zeichen lang sein.</mat-error>
    </mat-form-field>
</div>
<div *ngIf="data.isError" class="text-red-600 w-full flex justify-center"><p>Fehler! Probiere es erneut!</p></div>
<div mat-dialog-actions >
    <button mat-button (click)="onNoClick()">Abbrechen</button>
    <button mat-button [disabled]="!fcname.valid" [mat-dialog-close]="data.name">Ok <mat-icon>send</mat-icon></button>
</div>



<!--<frontend-lb-nx-small-loading-animation *ngIf="$loading | async"></frontend-lb-nx-small-loading-animation>-->


















