<div class="flex justify-center">
    <div>
        <h1 class="text-orange-500 text-center">Erstelle ein Event</h1>
        <form [formGroup]="myForm" *ngIf="(eventDefined$ | async) === false">
<!--            <p *ngIf="$shiftTypesLoading | async"> loading</p>-->
            <div class="flex flex-col justify-around">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input class="text-center" matInput [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>
                <div class="flex flex-row">
                    <div>


                        <mat-form-field appearance="outline" class="mr-3">
                            <mat-label>Start</mat-label>
                            <input [readonly]="true" formControlName="date" matInput [matDatetimepicker]="pickerStart"
                                   [(ngModel)]="model.start">
                            <!--                        <mat-hint>MM/DD/YYYY</mat-hint>-->
                            <mat-datetimepicker-toggle matIconSuffix [for]="pickerStart"></mat-datetimepicker-toggle>
                            <mat-datetimepicker #pickerStart type="datetime"
                                                (selectedChanged)="changeDate($event, true)"></mat-datetimepicker>

                            <input hidden="hidden" [value]="model.start.getTime()" [matDatetimepicker]="pickerStarttime"
                                   [ngModel]="model.start" [ngModelOptions]="{standalone: true}">
                            <!-- Only change the time                       -->
                            <mat-datetimepicker-toggle matIconSuffix [for]="pickerStarttime"
                                                       matTooltip="Nur Zeit ändern"></mat-datetimepicker-toggle>
                            <mat-datetimepicker #pickerStarttime type="time"
                                                (selectedChanged)="changeTime($event, true)"></mat-datetimepicker>

                        </mat-form-field>
                        <div class="text-center text-orange-500 mr-3" *ngIf="startDateEdited">Das Startdatum wurde angepasst</div>
                    </div>
                    <div>


                        <mat-form-field appearance="outline" class="ml-3">
                            <mat-label>Ende</mat-label>
                            <input [readonly]="true" formControlName="afterDate" matInput
                                   [matDatetimepicker]="pickerEnd"
                                   [(ngModel)]="model.end">
                            <!--                        <mat-hint>MM/DD/YYYY</mat-hint>-->
                            <mat-datetimepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datetimepicker-toggle>
                            <mat-datetimepicker #pickerEnd (selectedChanged)="changeDate($event, false)"
                                                type="datetime"></mat-datetimepicker>

                            <input hidden="hidden" [ngModel]="model.end" [matDatetimepicker]="pickerEndTime"
                                   [ngModelOptions]="{standalone: true}">
                            <!-- Only change the time                       -->
                            <mat-datetimepicker-toggle matIconSuffix [for]="pickerEndTime"
                                                       matTooltip="Nur Zeit ändern"></mat-datetimepicker-toggle>
                            <mat-datetimepicker #pickerEndTime type="time"
                                                (selectedChanged)="changeTime($event, false)"></mat-datetimepicker>
                        </mat-form-field>
                        <div class="text-center text-orange-500 ml-3" *ngIf="endDateEdited">Das Enddatum wurde angepasst</div>
                    </div>
                </div>
                <button mat-icon-button color="primary" (click)="checkAndBuildEvent()"
                        [disabled]="($shiftTypesLoading | async) || !myForm.valid">
                    <mat-icon>save</mat-icon>
                </button>
                <!--    <mat-error *ngIf="myForm.hasError('dateAfter')">asdasdad</mat-error>-->
                <mat-error *ngIf="!myForm.valid">asdasdad</mat-error>
            </div>
        </form>
        <div *ngIf="eventDefined$ | async">
            <frontend-lb-nx-event-overview [startDate]="model.start" [withHeadingLink]="false" (addShiftEvent)="componentStore.addShift($event)"
                                           [shiftTypes]="componentStore.$shiftTypes" [shifts]="componentStore.shifts$"
                                           [orgEvent]="$passedEvent"
                                           [showAddShift]="of(true)"></frontend-lb-nx-event-overview>
            <button mat-icon-button color="primary" (click)="sendOrgEvent()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>
