<p>Erstelle ein Event.</p>
<form  [formGroup]="myForm">
    <p *ngIf="$shiftTypesLoading | async"> loading</p>
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
</mat-form-field>
<mat-form-field>
    <mat-label>Start</mat-label>
    <input formControlName="date"  matInput [matDatetimepicker]="pickerStart" [(ngModel)]="model.start" >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datetimepicker-toggle matIconSuffix [for]="pickerStart"></mat-datetimepicker-toggle>
    <mat-datetimepicker #pickerStart type="datetime"></mat-datetimepicker>
</mat-form-field>
    <mat-form-field>
        <mat-label>Ende</mat-label>
        <input formControlName="afterDate" matInput [matDatetimepicker]="pickerEnd" [(ngModel)]="model.end" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datetimepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datetimepicker-toggle>
        <mat-datetimepicker #pickerEnd type="datetime"></mat-datetimepicker>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="checkAndBuildEvent()" [disabled]="($shiftTypesLoading | async) || !myForm.valid"><mat-icon>save</mat-icon></button>
<!--    <mat-error *ngIf="myForm.hasError('dateAfter')">asdasdad</mat-error>-->
    <mat-error *ngIf="!myForm.valid">asdasdad</mat-error>
</form>
<div *ngIf="eventDefined$ | async">
    <frontend-lb-nx-event-overview [withHeadingLink]="false" (addShiftEvent)="componentStore.addShift($event)" [shiftTypes]="componentStore.$shiftTypes" [shifts]="componentStore.shifts$" [orgEvent]="$passedEvent" [showAddShift]="of(true)"></frontend-lb-nx-event-overview>
    <button mat-icon-button color="primary" (click)="sendOrgEvent()"><mat-icon>send</mat-icon></button>
</div>
