<p>Erstelle ein Event.</p>
<form>
<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}">
</mat-form-field>
<mat-form-field>
    <mat-label>Start</mat-label>
    <input matInput [matDatetimepicker]="pickerStart" [(ngModel)]="model.start" [ngModelOptions]="{standalone: true}">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datetimepicker-toggle matIconSuffix [for]="pickerStart"></mat-datetimepicker-toggle>
    <mat-datetimepicker #pickerStart type="datetime"></mat-datetimepicker>
</mat-form-field>
    <mat-form-field>
        <mat-label>Ende</mat-label>
        <input matInput [matDatetimepicker]="pickerEnd" [(ngModel)]="model.end" [ngModelOptions]="{standalone: true}">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datetimepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datetimepicker-toggle>
        <mat-datetimepicker #pickerEnd type="datetime"></mat-datetimepicker>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="checkAndBuildEvent()"><mat-icon>save</mat-icon></button>
</form>
<div *ngIf="submitted">
    <frontend-lb-nx-event-overview [orgEvent]="this.model" [showAddShift]="true"></frontend-lb-nx-event-overview>
    <button mat-icon-button color="primary" (click)="sendOrgEvent(this.model)"><mat-icon>send</mat-icon></button>
</div>
