<mat-tab-group>
    <mat-tab label="Bevorstehende Veranstaltungen">
        <br>
        <div *ngFor="let event of orgEvents">
            <p class="text-2xl underline">{{event.name}}{{event.start | date: 'dd/MM/yyyy, hh:mm'}}</p>
            <div *ngFor="let elem of splitShiftsByType(event.shifts)">
                <p class="text-xl">{{elem[0].shiftType.name}}</p>
                <frontend-lb-nx-shift-table [shifts]="elem"></frontend-lb-nx-shift-table>
                <br>
                <br>
            </div>
        </div>

    </mat-tab>
    <mat-tab label="Deine kommenden Schichten"></mat-tab>
    <mat-tab label="Vergangene Schichten"></mat-tab>
</mat-tab-group>
