<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu <img class="p-2 h-14 w-14" src="assets/emilsecke_logo.png" alt="Image"></mat-toolbar>
    <mat-toolbar *ngIf="$userLoaded | async">Wilkommen {{($loggedInUser | async)?.firstname}}</mat-toolbar>
        <mat-nav-list [ngSwitch]="$roleUser|async">
          <mat-divider></mat-divider>
          <a *ngIf="!$isLoggedIn" mat-list-item routerLink="/login">Login</a>
          <a mat-list-item routerLink="/dashboard">Dashboard</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/user_overview">Nutzer</a>
          <a *ngSwitchCase="UserRoles.ADMIN" mat-list-item routerLink="/users_overview">Alle Nutzer</a>
          <mat-divider></mat-divider>
<!--          <a *ngSwitchCase="UserRoles.ADMIN||UserRoles.MODERATOR" mat-list-item routerLink="/shift_add">Schichten erstellen</a>-->
          <a mat-list-item routerLink="/event_overview">Veranstaltungen</a>
          <a mat-list-item routerLink="/calendar">Kalender</a>
          <a *ngSwitchCase="UserRoles.ADMIN||UserRoles.MODERATOR" mat-list-item routerLink="/shift_types">ShiftTypes</a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/points">Punkte</a>
          <a mat-list-item (click)="logout()">Logout</a>
          <mat-divider></mat-divider>
        </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>LobeBar</span>
    </mat-toolbar>
    <div  class="htmlInput">
      <ng-content></ng-content>
    </div>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
