.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.htmlInput:empty{
  display: none;
}
.htmlInput {
  width: 100%;
  padding: 50px;
  z-index: 0;
}
