 <div class="flex flex-row items-center">
        <span>Name: {{user?.username}}</span>
        <button (click)="openDialog('username', detailType.nameType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Vorname: {{user?.firstname}}</span>
        <button (click)="openDialog('username', detailType.firstnameType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Nachname: {{user?.lastname}}</span>
        <button (click)="openDialog('username', detailType.lastnameType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Titel: {{user?.titel}}</span>
        <button (click)="openDialog('username', detailType.titelType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Email: {{user?.email}}</span>
        <button (click)="openDialog('username', detailType.emailType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Handynummer: {{user?.telephone}}</span>
        <button (click)="openDialog('username', detailType.handyNrType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Passwort: ********</span>
        <button (click)="openDialog('username', detailType.passwordType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>

