<div class="w-full h-full">
    <div class="text-center">
        <p>Herzlich Willkommen, lieber Barmensch</p>
        <frontend-lb-nx-user-badge class="flex justify-center" *ngIf="($userNameObs|async)!==undefined" [user]="($userNameObs|async)!"></frontend-lb-nx-user-badge>
        <p>Danke für dein Engagement!</p>
        <br>
        <p>Punkte: {{($userNameObs | async)?.xPScore}}</p>
        <br>
        <p>Gönnpunkte: {{($userNameObs | async)?.balance}}</p>
    </div>
    <br>
    <div class="flex flex-row justify-between">
        <div class="w-1/3">
            <div *ngIf="$ownShiftsObs" class="list">
                <p class="text-center">Anstehende Schichten:</p>
                <mat-list matSort class="item p-0!" *ngFor="let elem of ($displayOwnShifts | async)" role="list">
                    <mat-list-item routerLink="/singleevent/{{elem.orgEvent?.id}}" class="clickable-element" role="listitem" [matTooltip]="tooltipOwnShift+elem.orgEvent?.name+' .'">
                        <span matListItemTitle>{{elem.orgEvent?.name}} [{{elem.type.name}}]  </span>
                        <span class="orange-text" matListItemLine>{{elem.starttime|date: 'dd. MMMM yyyy \'um\' HH:mm':'de-DE'}} bis</span>
                        <span class="orange-text" matListItemLine>{{elem.endtime|date: 'dd. MMMM yyyy \'um\' HH:mm':'de-DE'}}</span>
                    </mat-list-item>
                </mat-list>
                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
                               [length]="($ownShiftsObs | async)?.length??0"
                               [pageSize]="5"
                               showFirstLastButtons
                               (page)="onPageChange($event)"
                               aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
        <frontend-lb-nx-achievements-overview></frontend-lb-nx-achievements-overview>
        <div class="w-1/3">
            <p class="accent-red-500">Achtung! Es werden noch <br>
                Personen für folgende Schicht(en) benötigt:</p>
            <p *ngIf="($outStandingShiftsObs|async)!.length<1">Keine Schichten vorhanden.</p>
            <div *ngIf="($outStandingShiftsObs|async)!.length>0">
            <mat-list matSort2 class="item p-0!" *ngFor="let elem of ($displayOutStandingShiftsObs | async)" role="list">
                <mat-list-item  role="listitem">
                    <span matListItemTitle>{{elem.orgEvent?.name}} [{{elem.type.name}}]  </span>
                    <span matListItemLine>{{elem.headcount-elem.users!.length? elem.users?.length :0}} benötigt</span>
                    <span matListItemLine>{{elem.starttime|date: 'dd. MMMM yyyy \'um\' HH:mm':'de-DE'}} bis</span>
                    <span matListItemLine>{{elem.endtime|date: 'dd. MMMM yyyy \'um\' HH:mm':'de-DE'}}</span>
                </mat-list-item>
            </mat-list>
            <mat-paginator  #paginator2 [pageSizeOptions]="[5, 10, 20]"
                                           [length]="($outStandingShiftsObs | async)?.length??0"
                                           [pageSize]="5"
                                           showFirstLastButtons
                                           (page)="onPageChange2($event)"
                                           aria-label="Select page of periodic elements">
                            </mat-paginator>
            </div>
        </div>
    </div>
</div>


