<div class="w-full h-full">
    <div class="text-center">
        <p>Herzlich Willkommen, lieber Barmensch {{($userNameObs | async)?.username}}.</p>
        <p>Danke für dein Engagement!</p>
        <br>
        <p>Punkte: {{($userNameObs | async)?.xPScore}}</p>
        <br>
        <p>Gönnpunkte: {{($userNameObs | async)?.balance}}</p>
    </div>
    <br>
    <div class="flex flex-row justify-between">
        <p>Anstehende Schichten:</p>
        <p>Errungenschaften:</p>
        <p>Absolvierte Schichten:</p>
    </div>
    <br>
    <div class="text-center">
        <p class="accent-red-500">Achtung! Es werden noch Personen für folgende Schicht(en) benötigt:</p>
        <br>
        <frontend-lb-nx-shift-table [shifts]="($outStandingShiftsObs|async)!"></frontend-lb-nx-shift-table>
    </div>
</div>


