<div class="w-full h-full">
    <div class="text-center">
        <p>Herzlich Willkommen, lieber Barmensch NAME.</p>
        <p>Danke für dein Engagement!</p>
        <br>
        <p>Punkte:</p>
    </div>
    <br>
    <div class="flex flex-row justify-between">
        <p>Anstehende Schichten:</p>
        <p>Errungenschaften:</p>
        <p>Absolvierte Schichten:</p>
    </div>
    <br>
    <div class="text-center">
        <p class="accent-red-500">Achtung! Es werden noch Personen für folgende Schicht(en) benötigt:</p>
    </div>
</div>


