<div>
    <div class="flex flex-row items-center">
        <span>Name: NAME</span>
        <button (click)="openDialog(name, detailType.nameType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Email: XYZ@asdmasdads.de</span>
        <button (click)="openDialog(name, detailType.emailType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Handynummer: 0143435235</span>
        <button (click)="openDialog(name, detailType.handyNrType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
    <div class="flex flex-row items-center">
        <span>Passwort: ********</span>
        <button (click)="openDialog(name, detailType.passwordType)" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
    </div>
</div>
