<div class="w-full h-full">
    <div class="flex flex-col justify-center">
        <p class="text-center">Hallo</p>
        <frontend-lb-nx-user-badge class="flex justify-center" *ngIf="($userObs|async)!==undefined" [user]="($userObs|async)!"></frontend-lb-nx-user-badge>
        <p class="text-center">!</p>
    </div>

    <p class="text-center">Hier kannst du deine Daten für deinen Account ändern.</p>
    <br>
    <div class="flex flex-row justify-center">
        <frontend-lb-nx-details-with-edit *ngIf="$userObs | async" [user]="($userObs | async)!"></frontend-lb-nx-details-with-edit>
        <div>
            <p>Errungenschaften:</p>
        </div>
    </div>
    <br>
    <div class="text-center">
        <p>Wähle deinen Achievement Avatar:</p>
    </div>
</div>


